* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
  color: rgba(0, 0, 0, .87);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1;
}

h2 {
  font-size: 18px;
  line-height: 1.3333;
  font-weight: 400;
  margin: 0;
}

#root {
  overflow: hidden;
}

.wrap {
  margin-left: -32px;
  margin-right: -32px;
}

.slide {
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

.img {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}

.img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: #fff;
  border-radius: 3px;
  transform: scale(.9);
  opacity: .5;
  transition: transform .3s, opacity .3s;
}

.active .card {
  transform: scale(1);
  opacity: 1;
}

.card_media {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.card_body {
  padding: 16px 32px;
}
