.Karuseru {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: visible;
  will-change: transform;
  transform: translateX(0);
  touch-action: pan-x;
}

.Karuseru_item {
  display: inline-block;
  flex-shrink: 0;
}
